* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
}

.content__wrapper {
  padding: 0 50px;
}

.content {
  display: grid;
  grid-template-columns: 500px 400px;
}
.headlines,
.selected__article {
  max-height: 100vh;
}

.headlines {
  background-color: rgb(220, 220, 220);
  overflow: scroll;
}
