.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  padding: 15px 15px;
  border: 1px solid #393939;
}

.header-nav-item:hover,
.header-nav-item:focus,
.header-nav-item:active {
  background-color: #f65050;
  border: 1px solid #f65050;
  color: #f65050;
}

.header-nav-item-current {
  background-color: #f65050;
  border: 1px solid #f65050;
  position: relative;
}

.header-nav-item-current:after {
  display: block;
  content: "";
  width: 50%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 25%;
  bottom: 10px;
}

.header-nav-link {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
}
