.news-dashboard {
  margin-bottom: 50px;
}
.section-title {
  display: flex;
  flex-wrap: wrap;
}
.news-dashboard .news-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
  height: 570px;
}
