.page-container {
  display: grid;
  grid-template-columns: 1fr 270px;
  column-gap: 30px;
  margin-bottom: 50px;
}

.side-section {
  background-color: aliceblue;
}

.side-section .section-title {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 21px;
  color: #f65050;
}

.side-section .section-title::before {
  display: block;
  position: absolute;
  content: "";
  height: 3px;
  width: 80px;
  background-color: #f65050;
  top: 39px;
  z-index: 10;
}

.side-section .section-title::after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #393939;
  position: absolute;
  bottom: 0;
}
