.article-container {
  border: none;
  text-align: start;
  color: #141c3a;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.article-container:hover,
.article-container:focus {
  background-color: #141c3a;
  color: #ffffff;
}

.article-content-container {
  padding: 10px 15px;
}

.article-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: clip;
}

.article-source-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}
