.search__form {
  position: relative;
}

.search__input {
  font-weight: bold;
  color: #141c3a;
  width: 100%;
  padding: 10px 0 10px 40px;
  outline: none;
  border: none;
  border-bottom: 2px solid #141c3a;
  background: transparent url("../icons/svg/search.svg") no-repeat left;
  background-size: 20px;
  margin-bottom: 40px;
}

.search__input::placeholder {
  color: #141c3a;
}

.clear__button {
  color: #141c3a;
  position: absolute;
  right: 0;
  bottom: 48px;
  border: 0;
  background: none;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}
